@tailwind base;
@tailwind components;
@tailwind utilities;
$primaryColor: #ffffff;
$secondaryColor: #aaa;

:root {
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 40px;
      font-weight: 700;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.75rem !important;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.4rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem !important;
    }
    li {
      font-size: 0.8rem;
    }
  }
}
