/* template-css */
.template{
    margin-top: 0;
    width: 80%;
    min-height: 50vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
   
}
.template-full-width{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EAEDEF;
    padding: 72px 0 75px 0;
    margin-top: 116px;
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.vector{
    flex:1;
    height: 1px;
   
    background-color: var(--color);

}
/* Contact-page */
.contact-title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
   
    
}
.contact-title h3{
    margin: 0 3px 0 3px;
}
                                                        /* contact-wrap1 */
.contact-wrap1{
    margin-top: 50px;
    width: 98%;
    display: flex;
    justify-content: flex-start;
}
.contact-wrap1 .contact-wrap1-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex:1;
    padding-left:20px;
   
}
.contact-wrap1 .contact-wrap1-content:not(:last-child){
    border-right: 1px solid var(--color);
}
h4#wrap1-h4{
    color: #000;
    font-weight: 500;
    
}
.wrap-1-param{
    color: var(--color);
    display: flex;
    justify-content: flex-start;
    
}
                                                        /* contact-wrap2 */

.contact-wrap2{
    margin-top: 80px;
    text-align: center;
}
.contact-wrap2 h4{
    font-weight: 600;
    font-family: 'Roboto';
}
                                                        /* contact-wrap3 */

.contact-wrap3{
    width: 60%;
    height: auto;
    margin-top: 40px;
}
textarea{
    background: #F5F6F7;
	border: 1px solid #749CC6;
	box-sizing: border-box;
	border-radius: 4px;
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;	
	letter-spacing: 0.005em;
	color: #030609;
	padding: 2px 10px 2px 10px;
}
.contact-wrap3 form#form-contact button{
    margin-top: 40px;

}
/* About-page */
header.header-about{
    margin-top: 72px !important;
}
.about-wrap-main{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
section#about-wrap{
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    justify-content: space-between;
}
.wrap-content-thumb{
   width: 45%;
}
.wrap-content-post{
    width: 45%;
    text-align: left;
    padding:50px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}
                                                              /* wrap1 */
.about-wrap1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
}
.wrap1-content{
    margin-top: 50px;
    width: 870px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap1-content img{
    margin-bottom: 128px;
}
                                                                    /* wrap2 */
.about-wrap2{
    margin-top: 40px;
    width: 100%;
	height: 200px;
	margin:10px 0 0 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
      
}
                                                                /* wrap3 */
section.about-wrap3{
    width: 80%;
    height: auto;
    min-height: 663px;
    display: flex;
    flex-direction: column;
   
 
}
h3#about-wrap3-title{
    width: 60%;
    word-break: break-all;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.005em;
    color: #4677AB;

}
p#about-wrap3-text{
    
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.005em;
    color: #030609;
    opacity: 0.5;
    text-align: left;
}
p#about-wrap3-text:nth-child(2){
    margin-top: 32px;
   
   
}
p#about-wrap3-text:nth-child(3){
    margin-bottom: 72px;
}
.about-wrap3-img{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.about-wrap3-img .img-1{
    width: 400px;
    height: 120px;
    background: #4677AB;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about-wrap3-img .img-1:not(:last-child){
    margin-right: 26px;
}
                                                                    /* wrap4 */
.about-wrap4{
    padding-top: 116px;
    width: 80%;
    height: auto;
    margin-bottom: 116px;
  
    
    
}
.about-wrap4-title{
    width: 100%;
    text-align: center;
}
.about-wrap4-content{
    width: 1512px;
    height: auto;
    display: flex;
    margin-top: 55px;
    min-height: 70vh;
   
}
.about-wrap4-video{
    position: relative;
    z-index: 4;
    
    
}

.bg-video{
    z-index: 2;
    position:absolute;
    margin-left: 104px;
    margin-top: 68px;
    width: 1408px;
    height: 784px;
    background: #152433;
}
                                                                /* wrap5 */
section.about-wrap5{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-wrap5-content{
    display: flex;
    gap:32px;
   height: auto;
    
}
.about-wrap5-content img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wrap5-content1{
   flex:1;
    
}
.wrap5-content2{
   
   flex:2;
    display: flex;
    flex-direction: column;
    gap:41px
    
}
.content2-child1{
    display: flex;
    gap: 32px;
}
.content2-child1 img{
    flex:0.7;
}
.content2-child1-text{
   flex:1.3;
    background: #315377;
    padding:10px;
    color: #EEF3F8;
}
.content2-child2{
    flex:1;
    display: flex;
    gap: 32px;
}

.about-partners{
    width: 80%;
    margin-top: 61px;
    height: auto;
}
.about-partners-title{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-partners-title h3{
    margin: 0 3px 0 3px;
}
#about-partners-grid{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(130px,1fr));
    grid-gap :15px;
    margin-top: 48px;
}
.partner{
    background-color: #315377;
    width: 143.55px;
    height: 43.06px;
    background: #4677AB;
    border-radius: 8px;
    text-align: center;
    
}
                                                            /* wrap6 */
.about-wrap6{
    width: 80%;
    height: auto;
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap6-first{
    width: 90%;
    height: auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.wrap6-first-title{
    width: 559px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.005em;
    text-align: center;

/* Bdazzled Blue / Default */

color: #315377;
}

.wrap6-first-content{
 
    margin-top: 101px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap:30px;
}
.wrap6-item{
    height: 280px;
    background: #ffffff;
    border-radius: 16px;
    word-break: break-all;
    padding: 29px 30px 70px 32px;
}
.wrap6-item h3{
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.005em;
    color: #4677AB;

}
.wrap6-item p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #030609;
      opacity: 0.5;
}
.wrap6-second{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 116px;
}
.wrap6-second-last{
    display: flex;
}
.wrap6-second-last p{
    margin-right: 5px;
}
/* Stores-page */
section#store-wrap1{
    width: 100%;
    height: auto;
}
.stores-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 61px;
}
.stores-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap:32px;
}
.content-child{
    height: auto;
    border-right: 1px solid #4677AB;
    padding-top: 5px;
}
.content-child:nth-child(3n){
    border: none !important;
}
h4#content-child-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #030609;
}
.child-text{
    display: flex;
    justify-content: flex-start;
    
}
.child-text ion-icon{
    color: #4677AB;
   font-size: 16pt;
   
   
}
.child-text p{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #030609;
    opacity: 0.5;
}

section#store-wrap2{
    width: 80%;
    height: auto;
}
.container-content-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(367px,1fr));
    grid-gap:14px;
}
.store-wrap2-content{
    width:100%;
    height: auto;
}
.content-partners{
    height: 110px;
    background: #4677AB;
    border-radius: 7.35504px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 36px;
   
}
.content-partners img{
    max-width: 70%;
    max-height: 90%;
}

/* customer service - page */
section.service-wrap1{
    width: 80%;
    display: flex;
    justify-content: center;
    gap:32px;
    align-items: center;
    height: auto;
    margin-bottom: 116px;
}
.link-policy{
   
    padding-top: 72px;
    text-align: center;
    width: 278px;
    height: 391px;
    background: #FFFFFF;
    border: 1px solid #749CC6;
    border-radius: 8px;
    transition:all 0.3s ease-in-out;

}
.link-policy:hover {
    box-shadow: 0 0 10px #749CC6, 0 0 20px #104279;
}
.link-policy img{
    min-height: 128px;
    margin-bottom: 37px;
}
.link-policy h3{
    margin-bottom: 20px;
}
/* wrap-2 */
section.service-wrap2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.service-wrap2-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
#service-search{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 38px;
    width: 80%;
    height: auto;
}
#service-search form{
    width: 100%;
    display: flex;
    height: 65px;
    border: 1px solid #152433;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding:0 2px 0 2px;
}
#service-search form #select{
    flex:1.3;
    border-right: 1px solid #152433;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#select input{
    
}
#service-search form #service-search-input{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
#service-search form input{
    width: 100%;
    padding: 0 10px 0 10px;
    border: none;
}
.service-search-button button{
    background: #315377;
    border-radius: 4px;
    color:#ffffff;
    height: 48px;
    width: 107px;

}
.search-ep{
    margin-top: 38px;
    width: 100%;
    height: auto;
    margin-bottom: 116px;
}
section.wrap-child-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--bg);
    padding: 30px;
}
.child-footer1{
    display: flex;
    align-items: center;
    gap: 18px;
    
}
.child-footer1 p#phone{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.005em;
    color: #EC2129;

}
/* waranty policy  */
.template-waranty{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap:128px;
    margin-bottom: 50px;
}
section#w-col-1{
 
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     align-items: center;
    gap:10px;
}
section#w-col-1 p#col-range{
    font-weight: 500;
    font-size: 150px;
    color: #315377;
    height: 176px;

}
section#w-col-1 .vector-flex{
    height: 130px;
    border: 1px solid #749CC6;
    width: 0;
}
section#w-col-2{
    flex:3.2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:128px;
    /* background-color: #EC2129; */
 
}
.col-2-content{
    padding-right: 40px;
}
.col-2-content li{
    margin-left: 20px;
    margin-top: 5px;
}
section#w-col-2 h3#col-2-h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.005em;
    color: #030609;
}
/* Exchange-page */
section.exchange-wrap2{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}
section#ex-footer{
    width: 100%;
    height: auto;
    margin-bottom: 116px;
}
/* usage-age */
header.header-usage{
    margin-bottom: 28px!important;
}
.usage-title{
    width: 45%;
}
section#usage-grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
    grid-gap:5%;
    margin-bottom: 48px;
}
.usage-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;
}
.usage-child li{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.005em;
    color: #030609;
    opacity: 0.5;

}
.usage-child-title{
    width: 100%;
    display: flex;
    
}
.usage-child-title h3#usage-h3{
    flex:0.4;
    font-weight: 500;
    font-size: 48px;
    color: #749CC6;
}
.usage-child-title .vector{
    flex:5 !important;
    margin-top: 9%;
}
h4#usage-h4{
    color: #030609;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.005em;
    margin-bottom: 20px;
    margin-top: 10px;
}
/* Asia-page */
.asia-header{
    margin-top: 0 !important;
}
.list-product-cat{
    position: relative;
    bottom: -150px;
    width: 10%;
    height: 50px;
    z-index: 100;
    border: 2px solid #315377;
	border-radius: 4px;
	text-align: center;
    background-color:#315377 ;
    color:#ffffff ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-product-cat:hover{
    animation: translatex 2000ms ease-in-out infinite;
}
.list-product-cat a{
    color: #ffffff;
}
.product-owl{
    margin-bottom: 45px;
    position:absolute;
    z-index: 5;
    width: 1000px;
    height: 662px;
    background-color: #ffffff;
    box-shadow: 5px 5px 25px 4px rgba(39, 88, 140, 0.2);
	border-radius: 16px;	
}
.asia-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 662px;
}
.asia-item-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 116px;
    margin-left: 50px;
}
.asia-item-thumb{
    height: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
p#asia-item-p{
    text-align: left !important;
    font-style: normal;
	font-weight: 500;
	font-size: 24pt;
	line-height: 23px;
	letter-spacing: 0.005em;
	color: #030609;
}
.product-owl button.owl-prev,
.product-owl button.owl-next{
    margin-top: 85px;
}
.product-owl button.owl-prev{
    margin-right: 200px;
}
/* promotion-page */
section#promo-wrap1{
    margin-top: 68px;
    width: 100%;
    height: 700px;
    /* background-color: var(--bg); */
    background-image: url('../image/img/ASIAvina/Rectangle\ 76.png') ;
   background-repeat: no-repeat;
   background-size: contain;
   margin-bottom: 50px;
}
#text-hide{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 540px;
    line-height: 633px;
    letter-spacing: 0.2em;
    color: #EEF3F8;
    margin-left: 40px;
    opacity: 0.16;
    transform: rotate(-2.81deg);
}
.post-large_banner{
    top:-700px;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 600px;
    display: flex;
    padding: 60px 116px;
    justify-content: space-evenly;
    align-items: center;

}
.large-post-title{
    flex:3;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.large-post-title h1{
    color: #ffffff;
    font-weight:700;
}
.large-post-excerp{
    overflow: hidden;
    height: 65px;
    width: 80%;
  
}
.large-post-excerp p{
    color: #Ffffff;
}
.large-post-thumb{
    flex: 1;
    height: 100%;
    
}
.large-post-thumb img{
    width: 130%;
    height: 130%;
    object-fit: contain;
    position: relative;
    bottom: 15%;
    right: 30%;
}




.large-button{
    width: 10%;
    height: 50px;
    z-index: 100;
    border: 2px solid #ffffff;
	border-radius: 4px;
	text-align: center;
    background-color: transparent ;
    
    display: flex;
    align-items: center;
    justify-content: center
}
.large-button:hover{
    box-shadow: 0 0 10px var(--bg),
                0 0 20px #2364aa;
}
.large-button a{
    color:#ffffff ;
}
section#season-sale{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
}
section#related-promotion{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    min-height: auto;
    margin: 60px 0 40px 0;
}
.season-sale-content{
    width: 100%;
    height: auto;
    display: flex;
}
.ss-content{
    height: 500px;
}
.ss-content-child1{
    background-color: #ffffff;
    flex:1;
    height: 500px;
}
.ss-content-child2{
   
    flex:1.7;
}
.ss-child-thumb{
    width: 100%;
    height: 100%;
}
.ss-child-thumb img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.ss-link{
    width: 20%;
    height: 30px;
    float: right;
   position: relative;
   top:-50px;
   margin-right: 10px;
     z-index: 2;
    text-align: center;
    border: 2px solid #ffffff;
	border-radius: 4px;
	text-align: center;
    background-color: transparent ;
}
.ss-link a{
    color: white;
}
.ss-content-child3{
    background-color: #ffffff;
    flex:1;
}

.related-title{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.related-grid{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap:30px;
}
.post-child-sales{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    background-color:var(--bg);
    gap: 10px;
     
}
.child-sale-thumb{
    height: 50%;
    width: 100%;
    background-color: #EC2129;
}
.child-sale-content{
    height: 10%;
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    
}
.child-sale-content h5{
    font-weight: 600;
    font-size: 18pt;
    color: black;
}
.child-sale-thumb img{
    width: 100%;
    height: 100%;
}
.child-sale-excerpt{
    width: 100%;
    height: 20%;
    text-align: left;
    overflow: hidden;
}
.child-sale-link{
    height: auto;
    text-align: center;
    border: 2px solid #4a37f0;
	border-radius: 4px;
	text-align: center;
    background-color: transparent ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 5px;
    transition: all 0.2s ease;
}
.child-sale-link:hover{
    background-color:#4a37f0 ;
    
}
.child-sale-link:hover a{
 color: #fff;
}





